body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* or any other height value */
}

.image-container {
    width: 40%;
    margin-right: 20px;
}

.image-container img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.content-container {
    width: 60%;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
}

p {
    margin-bottom: 20px;
    color: #666;
}

.btn {
    display: inline-block;
    padding: 10px 40px;
    background-color: #3E7DF6;
    color: #fff;
    border: 2px solid #3E7DF6;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.btn2 {
    display: inline-block;
    padding: 10px 40px;
    background-color: #fff;
    color: #3E7DF6;
    border: 2px solid #3E7DF6;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.btn:hover {
    background-color: #ADC3DF;
    border: 2px solid #ADC3DF;
}
.btn2:hover {
    background-color: #ADC3DF;
    border: 2px solid #ADC3DF;
    color:#fff;
}